body{
    text-align: center;
    margin-top: 30px;
    background-image: url('back.jpg');
}
button{
    margin: 20px 20px;
    background-color: red;
    border-style: hidden;
    border-radius: 8px;
    padding: 10px 30px;
}